.container{
display: flex;
flex-direction: column;
margin-bottom: 0.5rem;


}

.label{
    font-weight: bold;
    color: black;
    text-align: start;
    margin-bottom: 0.7rem;
}
.input{
    width: 90%;
    height: 1.5rem;
    font-size:medium;
}