
.newUser{
    display: flex;
   
    justify-content: center;
    padding-right: 4rem;
    padding-top: 2rem;
    margin: 0 auto;
    width: 50%;
    min-height: 5rem;
    border-radius: 15px;
    background-color: white;

   
    padding: 1rem 1rem;
    
  }
 